* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 90%;
  height: 480px;
  object-fit: cover;
  transition: transform 1.2s;
  padding: 10px;
  filter: drop-shadow(8px 8px 10px gray);
}
img:hover {
  transform: scale(1.04);
  cursor: pointer;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: centers;
  align-items: center;
  text-align: center;
  grid-gap: 5px;
  margin: 5px;
  grid-auto-flow: dense;
}
.grid-item-header {
  grid-column: span 5;
  font-family: sans-serif;
  font-size: 30px;
  padding: 20px;
  font-family: "Playfair Display", serif;
}
.grid-item-1 {
  grid-column: 1 / span 2;
}
.grid-item-5 {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-item-5 img {
  height: auto;
}
.grid-item-6 {
  grid-column: span 2;
}
.grid-item-9 {
  grid-column: span 2;
}
@media (max-width: 1268px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-item-header {
    grid-column: span 3;
  }
  .grid-item-9 {
    grid-column: span 1;
  }
  .grid-item-6 {
    grid-column: span 3;
  }
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item-header {
    grid-column: span 2;
  }
  .grid-item-6 {
    grid-column: span 2;
  }
}
@media (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item-1 {
    grid-column: span 1;
  }
  .grid-item-6 {
    grid-column: span 1;
  }
  .grid-item-9 {
    grid-column: span 1;
  }
  .grid-item-header {
    grid-column: span 1;
  }
  .grid-item-5 {
    grid-column: span 1;
  }
}
